body {
    margin: 0;
    height: 100vh;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/* Index */

.main-heading {
    width: 50%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

ul, .title {
    list-style-type: none;
    line-height: 0;
}

ul li img {
    width: 200px;
    height: 150px;
}

.heading-subtitle {
    color: rgb(160, 3, 3);
}

.main-container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 90%;
}

.registration-container, 
.take-attendance-container, 
.registered-students-container, 
.enrolled-students-container,
.download-attendance-container {
    display: flex;
    width: 280px;
    height: 200px;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-wrapper {
    /* background-color: #eaeeea; */
    width: 100%;
}

.container-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

#container-heading-text {
    margin: 10px 0;
}

.card-btn-click {
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d91e0d;
    color: white;
    cursor: pointer;
}


.card-btn-click:hover {
    background-color: #e80101;
}


/* ******************* */
/* ********************* */
/* ************************ */

.container {
    max-width: 1000px;
    margin: 0 400px;
    padding: 20px;
}

.reg-form-container {
    height: auto;
}

.form-title {
    text-align: center;
    text-transform:uppercase;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f9f9f9; */
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

form fieldset {
    border: none;
}

legend  {
    font-weight: bold;
    color: #c50505;
}

.form-items {
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* to counteract item padding */
}

.item {
    flex: 1 1 calc(33.33% - 20px);
    margin: 10px;
}

.item label {
    display: block;
    margin-bottom: 5px;
}

.item input,
.item select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Tables */

.table-wrap {
    overflow: auto;
    margin: 20px;
}
table {
    width: 98%;
    border-collapse: collapse;
    margin: 0 auto;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
.enroll-btn {
    padding: 5px 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
.enroll-btn:hover {
    background-color: #45a049;
}

.enroll-table-wrapper {
    width: 50%;
}

.button-container {
    text-align: center;
    /* margin-top: 20px; */
}

.button-container input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.att-btn {
    width: 20%;
    margin: 0 auto;
    padding: 20px;
}

.button-container input[type="submit"]:hover {
    background-color: #45a049;
}



/* Footer */


.footer-nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#f9f9f9;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.footer-nav-bar a {
    text-decoration: none;
    color: #555;
    word-spacing: .1rem;
    margin-right: 5px;
}
.footer-nav-bar a:hover {
    color: darkgreen;
}