body {
    width: 98%;
    margin: 0;
    /* height: 100vh; */
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

/* Index */

.main-heading {
    width: 50%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

ul, .title {
    list-style-type: none;
    line-height: 0;
}

ul li img {
    width: 200px;
    height: 150px;
}

.heading-subtitle {
    color: rgb(160, 3, 3);
}

@media (max-width: 600px) {
    .main-heading {
        width: 100%;
    }
}

.main-container {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 90%;
}

.registration-container, 
.take-attendance-container, 
.registered-students-container, 
.enrolled-students-container,
.download-attendance-container,
.edit-std-container,
.prosp-std-container {
    display: flex;
    width: 280px;
    height: 200px;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-wrapper {
    /* background-color: #eaeeea; */
    width: 100%;
}

.container-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

#container-heading-text {
    margin: 10px 0;
}

.card-btn-click {
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #d91e0d;
    color: white;
    cursor: pointer;
}


.card-btn-click:hover {
    background-color: #e80101;
}

/* Index page ends here */


/* Forms */

.container {
    /* height: 60vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 400px;
    margin-bottom: 10rem;
    padding: 20px;
}

.reg-form-container {
    height: auto;
}

.form-title {
    text-align: center;
    text-transform:uppercase;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form fieldset {
    border: none;
}

legend  {
    font-weight: bold;
    color: #c50505;
}

.form-items {
    margin-bottom: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; /* to counteract item padding */
}

.item {
    flex: 1 1 calc(33.33% - 20px);
    margin: 10px;
}

.item label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    color: #a50000;
}

.item input,
.item select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

/* Forms Ends */

/* Update Student Page */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding: 20px;
}

.search-container input[type="text"] {
    width: 300px;
    padding: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
    text-align: center;
}

/* .search-container input[type="text"]:hover {
    box-shadow: 0px 0px 10px #a50000;
} */

.search-container input[type="text"]:active {
    border: 2px solid #a50000;
    box-shadow: 2px 2px #a50000;
}

.search-container button[type="submit"] {
    width: 120px;
    padding: 6px;
    background-color: #a50000;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.search-title {
    color: #a50000;
    font-size: 2rem;
}

.src-result li a {
    text-align: center;
    color: #a50000;
    text-decoration: none;
    display:block;
    line-height: 1.8rem;
}

@media (max-width: 600px) {
    .search-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-title {
        color: #a50000;
        font-size: 1rem;
    }
}

/* Update Student Information ends here */


/* Tables */

.tbl-title {
    color: #c50505;
    text-align: center;
}

.table-wrap {
    overflow: auto;
    width: 100%;
    height: 60vh;
    box-shadow: #a50000;
    margin: 20px;
    margin-bottom: 5rem;
}

.enroll-tbl {
    border-collapse: collapse;
    width: 100%;
}

.enroll-tbl th, .enroll-tbl td {
    border: 1px solid #ffffff;
    padding: 15px;
    text-align: left;
}

.enroll-tbl th {
    position: sticky;
    top: 0;
    z-index: 1;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: auto;
}

th {
    background-color: #a50000;
    color: white;
}

table tr:nth-child(even){
    background-color: #f4f4f4;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Tables End */

/* Attendance starts here */

.att-tbl-wrap {
    width: 80%;
    margin: 0 auto;
    height: auto;
}

.att-form tr {
    width: 100%;
}

.status-select {
    width: 200px;
    padding: 10px;
    border: none;
    color: #a50000;
}

.mark-att-title {
    text-align: center;
    color: #a50000;
}

/* Download Attendance */

.download-form-wrap {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.download-form-title {
    text-align: center;
    color: #a50000;
}

/* Take Attendance */

.filter-wrap {
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-form select {
    width: 20%;
    padding: 10px 20px;
    color: #a50000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

.filter-form button {
    background-color: #a50000;
    width: 20%;
    margin-left: 20px;
    padding: 8px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.filter-form button:hover {
    background-color: #e80101;
}

.attendance-content-wrap {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Attendance Ends Here */

/* Buttons */

.enroll-btn {
    width: 120px;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    background-color: #c50505;
    color: white;
    cursor: pointer;
}
.enroll-btn:hover {
    background-color: #f51515;
}

.enroll-table-wrapper {
    width: 50%;
}

.button-container {
    text-align: center;
    /* margin-top: 20px; */
}

.button-container input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #a50000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.att-btn {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 10rem;
    padding: 20px;
}

.button-container input[type="submit"]:hover {
    background-color: #e80101;
}

/* Buttons ends here */


/* Footer */

.footer-nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#000000;
    /* color: #fff; */
    padding: 10px;
    text-align: center;
}
.footer-nav-bar a {
    text-decoration: none;
    color: #fff;
    word-spacing: .1rem;
    margin-right: 5px;
}
.footer-nav-bar a:hover {
    color:rgb(160, 3, 3);
}

/* Footer Ends */