* {
    margin: 0;
    padding: 0;
    /* justify-content: center; */
    /* align-items: center; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

ul, .title {
    list-style-type: none;
    line-height: 0;
}

.heading-title {
    width: 80%;
    padding: 20px;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 0px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: rgb(228, 4, 4);
}

.heading-subtitle {
    width: 60%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    color: rgb(160, 3, 3);
}

.container {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    max-width: 90%;
}

.registration-container, 
.take-attendance-container, 
.registered-students-container, 
.enrolled-students-container,
.download-attendance-container {
    display: flex;
    width: 280px;
    height: 200px;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.wrapper {
    /* background-color: #eaeeea; */
    width: 100%;
}

.container-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

#container-heading-text {
    margin: 10px 0;
}

.btn-click {
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #098809;
    color: white;
    cursor: pointer;
}


.btn-click:hover {
    background-color: #29e100;
}